:root {
  font-size: 62.5%;
  --desktop: 900px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  color: snow;
  background-color: #65350f;
  min-height: 100vh;

  display: grid;
  grid-template-rows: 100px 1fr 50px;
}

/* HEADER */

.header {
  background-color: #7e481c;
  text-align: center;
  padding-block: 1em;
}

.header h1 {
  font-size: 2.4rem;
  margin-bottom: 0.2em;
}

.header .coffee-cup {
  background-color: snow;
  height: 40px;
  border-radius: 50%;
  box-shadow: 1px 1px 6px #030303;
  padding: 10px;
}

/* Main */
.container {
  background-color: #1f1609;
  border-radius: 10px;
  text-align: center;

  margin: 1em auto;
  padding: 1em;
  max-width: 350px;
  width: 100%;
  border-radius: 12px;
}

.container-heading {
  margin: 1.5em 0 0.5em;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
}

.coffee-btn {
  margin-block: 0.3em;
  height: 3rem;
  width: 10rem;
  cursor: pointer;
  font-size: 1.6rem;

  background-color: inherit;
  color: snow;

  border: 1px groove snow;
  border-radius: 18px;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.coffee-btn:hover {
  background-color: snow;
  color: #1f1609;
}

#lorem-container {
  height: 390px;
  width: 90%;
  margin: 1.5em auto;
  text-align: center;

  border: 2px solid snow;
  border-top: none;
  border-radius: 0 0 25% 25%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#lorem-text {
  padding: 0 1em;
  font-size: 1.3rem;
  padding-bottom: 4rem;
}

/* FOOTER */
footer {
  background-color: #7e481c;
  font-size: 1.8rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  text-decoration: none;
  padding: 0 0.5em;
  color: snow;
}

footer a:hover {
  color: #1f1609;
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  body {
    grid-template-rows: 130px 1fr 60px;
  }

  .header h1 {
    font-size: 3.2rem;
  }

  .header .coffee-cup {
    height: 50px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 800px;
    max-height: 550px;
  }

  #lorem-container {
    height: 450px;
    margin-top: 3em;
  }

  #lorem-text {
    font-size: 1.6rem;
  }

  /* FOOTER */
  footer {
    font-size: 2.2rem;
  }
}
